**/__pycache__
data/*
model_checkpoints
**/local*
.idea
**/*.bin
**/*.log
**/*.sh
**/output*
**/eval_results*
**/berkeley_fanuc_manipulation
**/configs
**/scripts
*.yaml
**/evaluation
**/checkpoints
# Ignore wandb runs
wandb/
**/wandb/
**/wandb/*

# Ignore stray PNGs if you don’t want them versioned
*.png
*.mp4
*.npz